@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;

}

// ---- Menu ----
.menuContainer{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
}

.menuTitle{
margin-top: -30rem;
font-size: 5rem;
margin-right: -12rem;
}

.menuBtn{
background-color: rgb(243, 189, 119);
}
// ---- Menu ----
// ***************
// ----TicTacToe ----
.ticContainer{

}

.ticGameContainer{
border: solid 4px rgb(53, 73, 33); 
height: 60vh;
width: 32.5vw;
margin-left: 29vw;
display: grid;
grid-template-columns: repeat(3, 1fr);
border-radius: 8px;
}

.ticCell{
  border: solid 4px rgb(53, 73, 33);
  flex-direction: column;
  background-color: rgb(146, 190, 101);
  flex-wrap: wrap;
}

.ticCell:hover{
  background-color: rgba(124, 161, 87, 0.473) ;
  border: solid 4px rgba(115, 255, 0, 0.268); 
  
}

.ticValue{
  position: absolute;
  margin: 2.4rem;
  margin-left: 2.5rem;
  margin-top: 1.5rem;
  font-size: 5rem;
  font-weight: 550;
  color:rgba(58, 77, 39, 0.473) ;

}
// ----TicTacToe ----
// ***************
// ---- Calc ----


// ---- Calc ----

